{% extends "layout.html" %}

{% block title %}
<title>WeddingReports - Login</title>
{% endblock %}

{% block content %}
<form action="/handle-login" method="post" name="login" role="form">
	<div class="form-group">
    	<label for="email">Email:</label>
    	{{ login_user_form.email(size=45) }}
    </div>
    <div class="form-group">
    	<label for="password">Password:</label>
     	{{ login_user_form.password(size=40) }}
    </div>
    <div><input type="submit" id="submit" value="Log in"> </div>
</form>
{% endblock %}