{% extends "layout.html" %}

{% block title %}
<title>WeddingReports - Home</title>
{% endblock %}

{% block content %}
{% if user and user.email %}
<div id="login-status">Logged in as {{ user.email }}.</div>
<h2>Submit a report on your wedding venue!</h2>
<form action="{{ url_for('add_report') }}" method="post" name="add_report">
{{ form.hidden_tag() }}
<p>Venue name: {{ form.venue_name(size=40) }} <br><p>
<p>Rating (from 1 to 10): {{ form.rating(size=1) }} <br></p>
<p>Review: {{ form.content(cols="40",rows="20") }} <br></p>
<p><input id="submit" type="submit" value="Submit report."></p>
</form>
{% else %}
<div id="login-status">Not logged in.</div>
{% endif %}
{% endblock %}