<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>WeddingReports</title>
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
        <h1 id="logo">WeddingReports</h1>
        </div>
        <div class="navbar">
            <div class="container">
                <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if g.user.is_authenticated() %}
                <li><a id="logout" href="{{ url_for('logout') }}">Log Out</a></li>
                <li><a id="user_reports" href="{{ url_for('user_reports') }}">My Reports</a></li>
				{% else %}
                <li><a id="login" href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}

                </ul>
                <div id="search-area">
                Search venues: <input type="text" id="search_field" name="search_field" size="30">
                <input id="search_submit" type="submit" value="Search">
                </div>
            </div>
        </div>
        
        <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for flash_message in messages %}
                    <p class="flashed-message">{{ flash_message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        
        <div id="content" class="container">
        {% block content %}
        {% endblock %}
        </div>
        
        <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/typeahead2.js') }}"></script>
        
                        	
		<script type="text/javascript">
		$("#search_submit").click(function(event) {
			event.preventDefault();
			$.post(
			'{{ url_for("search_venues") }}',
			
			{venue_name: $('#search_field').val()},
			
			//on success, display the search results in the content div
			function(results) { $('#content').html(results); }
			);
		});
		
		$('#search_field').keypress(function(e) {
			if(e.which == 13) {
				$('#search_submit').click();
			} 
		});
				
		//register lookahead for the search bar
		
		$("#search_field").typeahead({
			onSelect: function(item) {
				console.log(item);
			},
			ajax: {
				url: "{{ url_for('search_suggestions') }}",
				timeout: 500,
				displayField: "name",
				triggerLength: 2,
				method: "post",
				loadingClass: "loading-circle",
				preDispatch: function (query) {
					return {
						search_term: query
					}
				},
				preProcess: function (data) {
					if (data.success === false) {
						// Hide the list, there was some error
						return false;
					}
					// We gucci!
					return data.venue_list;
				}
			}
		});		

		
		</script>

    </body>
</html>