.flashed-message {
    color:red;
}

.container {
	width: 100%;
}

/*
#search-area {
	padding-right: 20px;
	float:right;
}
*/

.navbar-form {
	margin-bottom: 0;
}

#search-area {
	margin-top: 11px;
}

input {
	color: black;
}

textarea {
	color: black;
}